* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: wheat;
}

.todo {
  display: flex;
  justify-content: center;
  gap: 10px;
}

h1 {
  text-align: center;
  margin: 20px;
}

#inputTodo,
#button1 {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: azure;
}

#inputTodo:focus {
  outline: none;
}

#button1:hover {
  background-color: #048ccc;
  cursor: pointer;
}

.listContainer {
  /* display: flex;
  justify-content: center; */
  margin-top: 20px;
}

p {
  padding: 10px;
  margin: 10px auto;
  width: 15%;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #048ccc;
}

.p-through {
  text-decoration: line-through;
}
